agent1_spec_authority_starter/n8n_agent1_subflow.json
{
  "name": "Agent1 \u2013 Spec Authority",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "parameters": {},
      "position": [
        300,
        200
      ]
    },
    {
      "id": "2",
      "name": "Load YAMLs from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "parameters": {
        "requestMethod": "GET",
        "url": "https://api.github.com/repos/{{$json.repo}}/contents/shipping_suite_documentation"
      },
      "position": [
        560,
        200
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE"
        }
      }
    },
    {
      "id": "3",
      "name": "Spec Synthesis (LLM)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 3,
      "parameters": {
        "model": "gpt-4.1",
        "prompt": "<< paste prompts/agent1_spec_authority.prompt.md >>"
      },
      "position": [
        820,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE"
        }
      }
    },
    {
      "id": "4",
      "name": "Create/Update PR Files",
      "type": "n8n-nodes-base.github",
      "typeVersion": 3,
      "parameters": {
        "operation": "create",
        "repository": "{{$json.repo}}",
        "title": "Agent1: contracts",
        "body": "Automated contracts (OpenAPI, Schemas, RBAC, Events)",
        "branch": "auto/specs-{{$now}}",
        "fieldsUi": {
          "file": [
            {
              "filePath": "specs/summary.report.json",
              "fileContent": "={{JSON.stringify($json, null, 2)}}"
            }
          ]
        }
      },
      "position": [
        1080,
        200
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE"
        }
      }
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Load YAMLs from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load YAMLs from GitHub": {
      "main": [
        [
          {
            "node": "Spec Synthesis (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spec Synthesis (LLM)": {
      "main": [
        [
          {
            "node": "Create/Update PR Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}