agent4_workflow_state_starter/n8n_agent4_subflow.json
{
  "name": "Agent4 \u2013 Workflow & State",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "parameters": {},
      "position": [
        300,
        200
      ]
    },
    {
      "id": "2",
      "name": "Fetch Workflow Specs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "parameters": {
        "requestMethod": "GET",
        "url": "https://api.github.com/repos/{{$json.repo}}/contents/shipping_suite_documentation/business_logic/approval_workflows.yml"
      },
      "position": [
        560,
        200
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE"
        }
      }
    },
    {
      "id": "3",
      "name": "Build Workflows (LLM)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 3,
      "parameters": {
        "model": "gpt-4.1",
        "prompt": "<< paste prompts/agent4_workflow_state.prompt.md >>"
      },
      "position": [
        820,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE"
        }
      }
    },
    {
      "id": "4",
      "name": "Update PR with Workflow Artifacts",
      "type": "n8n-nodes-base.github",
      "typeVersion": 3,
      "parameters": {
        "operation": "update",
        "repository": "{{$json.repo}}",
        "pullRequestNumber": "={{$json[\"number\"]}}",
        "fieldsUi": {
          "file": [
            {
              "filePath": "specs/workflow.summary.json",
              "fileContent": "={{JSON.stringify($json, null, 2)}}"
            }
          ]
        }
      },
      "position": [
        1080,
        200
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE"
        }
      }
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Fetch Workflow Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Workflow Specs": {
      "main": [
        [
          {
            "node": "Build Workflows (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Workflows (LLM)": {
      "main": [
        [
          {
            "node": "Update PR with Workflow Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}