agent9_compliance_audit_starter/n8n_agent9_subflow.json
{
  "name": "Agent9 \u2013 Compliance & Audit",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "parameters": {},
      "position": [
        300,
        200
      ]
    },
    {
      "id": "2",
      "name": "Run Compliance Checks",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "parameters": {
        "command": "./tools/run_compliance.sh"
      },
      "position": [
        560,
        200
      ]
    },
    {
      "id": "3",
      "name": "Collect Verdict",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "parameters": {
        "requestMethod": "GET",
        "url": "https://api.github.com/repos/{{$json.repo}}/contents/specs/compliance.summary.json"
      },
      "position": [
        820,
        200
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE"
        }
      }
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Run Compliance Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Compliance Checks": {
      "main": [
        [
          {
            "node": "Collect Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}