agent7_qa_contract_starter/n8n_agent7_subflow.json
{
  "name": "Agent7 \u2013 QA & Contract",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "parameters": {},
      "position": [
        300,
        200
      ]
    },
    {
      "id": "2",
      "name": "Run Tests (CI Container)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "parameters": {
        "command": "./tools/run_qa.sh"
      },
      "position": [
        560,
        200
      ]
    },
    {
      "id": "3",
      "name": "Collect Verdict",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "parameters": {
        "requestMethod": "GET",
        "url": "https://api.github.com/repos/{{$json.repo}}/contents/specs/qa.summary.json"
      },
      "position": [
        820,
        200
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE"
        }
      }
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Run Tests (CI Container)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Tests (CI Container)": {
      "main": [
        [
          {
            "node": "Collect Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}